@font-face {
  font-family: 'MotoyaLMaru';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/motoyalmaru.ttf) format('truetype');
}
html{
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
body{
  margin: 0;
  padding: 0;
  color: #FFDDE1;
  font-family: 'MotoyaLMaru', sans-serif;
  background-color: #1e2129;/*#FFDDE1*/
}
a{
  cursor: pointer;
  text-decoration: none;
}
.background{
  position: absolute;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  transition: .4s cubic-bezier(.215,.61,.355,1);
  transform: translate3d(0px,0px,0px);
  display: flex;
  align-content: center;
  justify-content: center;
 }
.background-image{
  margin-top: 80px;
  width: 100%;
  min-height: 80vh;
  max-height: 100vh;
  animation: scale-down-center .8s cubic-bezier(.445,.03,.515,.955) both;
  object-fit: cover;
}
@keyframes scale-down-center {
  0%{
    opacity: 0;
    transform: scale(1.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@media (min-width: 680px){
  .background-image{
    min-height: unset;
    max-height: unset;
    width: 640px;
    margin-left: 420px;
    margin-top: 80px;
  }
}