@font-face {
  font-family: 'MotoyaLMaru';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/motoyalmaru.ttf) format('truetype');
}
:root{
  --accent-color: #FFDDE1;/*f5f5f7*/
  --base-color: #1e2129;
}
html{
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
body{
  margin: 0;
  padding: 0;
  color: var(--accent-color);
  font-family: 'MotoyaLMaru', sans-serif;
  background-color: var(--base-color);
}
#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--base-color);
  z-index: 999;
  /*display: none;*/
}
h2{
  font-family: sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff00;
  font-size: 14vw;
  -webkit-text-stroke: 0.1vw var(--accent-color);
  text-transform: uppercase;
}
h2::before{
  content: attr(data-text);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--accent-color);
  border-right: 2px solid var(--accent-color);
  overflow: hidden;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0%,10%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
}
a{
  cursor: pointer;
  text-decoration: none;
}
.background{
  position: absolute;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  transition: .4s cubic-bezier(.215,.61,.355,1);
  transform: translate3d(0px,0px,0px);
  display: flex;
  align-content: center;
  justify-content: center;
 }
.background-image{
  margin-top: 80px;
  width: 100%;
  min-height: 80vh;
  max-height: 100vh;
  animation: scale-down-center .8s cubic-bezier(.445,.03,.515,.955) both;
  object-fit: cover;
}
@keyframes scale-down-center {
  0%{
    opacity: 0;
    transform: scale(1.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@media (min-width: 680px){
  .background-image{
    min-height: unset;
    max-height: unset;
    width: 640px;
    margin-left: 420px;
    margin-top: 80px;
  }
}